body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.input-container {
  margin-top: 20px;
}

input[type="text"] {
  padding: 8px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.completed {
  background-color: rgb(58, 37, 254);
  cursor: pointer;
}

.unfinished {
  background-color: rgb(255, 195, 98);
  cursor: pointer;
}

.delete {
  background-color: red;
  cursor: pointer;
}

